.jo-page-header-margins {
    margin-top: 10px;
}

.jo-red-plus {
    color: red;
}

.jo-floating {
    position:fixed;
    width:40px;
    height:40px;
    bottom:60px;
    right:60px;
    z-index: 2;
}