.jo-title-col {
    width: 35%;
}

.jo-quizzes-col {
    width: 15%;
}

.jo-owned-col {
    width: 15%;
}

.jo-modified-col {
    width: 20%;
}

.jo-icons-col {
    width: 15%;
}

.jo-header-icon-padding {
    padding-left: 10px;
    padding-right: 10px;
}
